<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" required [(ngModel)]="user.fname" name="fname" />
            </div>

            <div class="form-group">
                <label for="lname">Last Name</label>
                <input class="form-control" id="lname" required [(ngModel)]="user.lname"
                    name="lname" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" required [(ngModel)]="user.email"
                    name="email" />
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input class="form-control" id="contact" required [(ngModel)]="user.contact"
                    name="contact" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" required [(ngModel)]="user.password"
                    name="password" />
            </div>

            <button (click)="registerUser()" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Tutorial was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newUser()">Register New User</button>
        </div>
    </div>
</div>